{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ping_work.css') }}">
{% endblock %}
{% block content %}
    <div name="headline">
        <div class="headline_ping_work">Ping</div>
        <div class="ping_work_line1"></div>
    </div>
    <div name="images">
        <div>
            <img src="{{ image_file }}" alt="Image of project Ping" class="image_ping1">
        </div>
        <div>
            <img src="/static/images/Ping_4.png" alt="Image of project Ping" class="image_ping2">
        </div>
    </div>
    <div name="description">
        <div>
            <div class="headline_ping_1">When</div>
        </div>
        <div>
            <div class="when">September 2018, Berlin.</div>        
        </div>
        <div>
            <div class="headline_ping_2">What</div>
        </div>
        <div>
            <div class="what">In my first semester as an Interaction Design student, my team and I created the app “Ping”. Ping is a social network of explorers and people who want to get out of their comfort zone and meet new people. To demonstrate our idea I created mock–ups, landing page, clickable prototype, and a unique logo.</div>
        </div>
        <div>
            <div class="headline_ping_3">Categories</div>
        </div>
        <div>
            <div class="categories_box1">Screen Design</div>
        </div>
        <div>
            <div class="categories_box2">Prototyping</div>
        </div>
        <div>
            <div class="categories_box3">Figma</div>
        </div>
        <div>
            <div class="categories_box4">Adobe Suite</div>
        </div>
        <div>
            <div class="headline_ping_4">Find it here</div>
        </div>
        <div>
            <a href="https://dribbble.com/shots/11008099-Ping-Mockups">
                <img src="/static/images/dribble_icon.svg" alt="Find it on Dribble" class="ping_dribble">
            </a>
        </div>
    </div>
{% endblock %}