{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/work.css') }}">
{% endblock %}
{% block content %}
      <div name="headline">
        <div>
          <div class="headline">All of my design work</div>
        </div>
        <div>
          <div class="headline_line"></div>
        </div>
        <div>
          <div class="subline_work">Check out all of my creations. It varies from university project, to personal projects or company projects. More sample text will follow here and will be added later.</div>
        </div>
      </div>
      <div name="designs">
        {% for work in work %}  
        <div>
          <a href="{{ url_for('post', work_id=work.id) }}">
            <img src="{{ url_for('static', filename='uploads/' + work.image) }}" class="work_box1">
          </a>
        </div>
         <div class="work_box2">
        </div>
        <div class="work_box3">
          </a>
        </div>
        {% endfor %}
        <!--
        <div>
          <div class="work_box4"></div>
        </div>
        <div>
          <div class="work_box5"></div>
        </div>
        <div>
          <div class="work_box6"></div>
        </div>
        <div>
          <div class="work_box7"></div>
        </div>
        <div>
          <div class="work_box8"></div>
        </div>
        <div>
          <div class="work_box9"></div>
        </div>
        <div>
          <div class="work_box10"></div>
        </div>
        <div>
          <div class="work_box11"></div>
        </div>
        <div>
          <div class="work_box12"></div>
        </div>
      </div> -->
  
{% endblock %}