/* here start css of contact page */

.contact_headline {
    position: absolute;
    width: 917px;
    height: 206px;
    left: 333px;
    top: 316px;
    font-family: League Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 120px;
    color: #282828;
    z-index: 999;
  }
  
  .contact_headline_line {
    position: absolute;
    width: 860px;
    height: 0px;
    left: 333px;
    top: 402px;
    border: 6px solid #99C5C4;
  }
  
  .contact_headline_line2 {
    position: absolute;
    width: 200px;
    height: 0px;
    left: 333px;
    top: 522px;
    border: 6px solid #99C5C4;
  }
  
  .subline_contact {
    position: absolute;
    width: 900px;
    height: 117px;
    left: 333px;
    top: 584px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #282828;
  }
  
  .form1 {
    position: absolute;
    width: 420px;
    height: 86px;
    left: 333px;
    top: 751px;
    background: #F2F2F2;
    border-radius: 25px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    border: #F2F2F2;
    padding-left: 40px;
    padding-top: 29px;
    padding-bottom: 29px; 
  } 
  
  .form2 {
    position: absolute;
    width: 920px;
    height: 86px;
    left: 333px;
    top: 837px;
    margin-top: 30px;
    background: #F2F2F2;
    border: #F2F2F2;
    border-radius: 25px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    padding-left: 40px;
    padding-top: 29px;
    padding-bottom: 29px;  
  }
  
  .form3 {
    position: absolute;
    width: 920px;
    height: 434px;
    left: 333px;
    top: 977px;
    background: #F2F2F2;
    border: #F2F2F2;
    border-radius: 25px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    padding: 40px;
  }
  
  .send_button_contact {
    position: absolute;
    width: 182px;
    height: 53px;
    left: 1071px;
    top: 1441px;
    background: #99C5C4;
    border: #99C5C4;
    border-radius: 20px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFF;
  }
  
  .linkedIn_contact {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1500px;
    top: 977px;
  }
  
  .dribble_contact {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1500px;
    top: 1084px;
  }
  
  .download_contact {
    position: absolute;
    width: 57px;
    height: 57px;
    left: 1500px;
    top: 1191px;
  }
  
  /* here starts css for footer of contact */
  
  footer {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 1741px;
    left: 0;
    right: 0;
    background: #282828;
  } 
  
  .gb_logo_5 {
    position: absolute;
    width: 106px;
    height: 106px;
    left: 30px;
    top: 80px;
  }
  
  .imprint_5 {
    position: absolute;
    width: 285px;
    height: 84px;
    left: 30px;
    top: 220px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .name_footer_5 { 
    position: absolute;
    width: 159px;
    height: 28px;
    left: 700px;
    top: 220px;
    font-family: League Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    
  }
  
  .line7_5 {
    position: absolute;
    width: 20px;
    height: 0px;
    left: 859px;
    top: 233px;
    border: 2px solid #ffffff;
    transform: rotate(-90deg);
    padding-left: 50px;
    padding-right: 50px;
     
  }
  .linkedIn_footer_5 {
    position: absolute;
    width: 100px;
    height: 28px;
    left: 959px;
    top: 220px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .dribble_footer_5 {
    position: absolute;
    width: 85px;
    height: 28px;
    left: 1109px;
    top: 220px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .line8_5 {
    position: absolute;
    width: 20px;
    height: 0px;
    left: 1059px;
    top: 233px;
    border: 2px solid #ffffff;
    transform: rotate(-90deg);
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .line9_5 {
    position: absolute;
    width: 20px;
    height: 0px;
    left: 1244px;
    top: 233px;
    border: 2px solid #ffffff;
    transform: rotate(-90deg);
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .back_to_top_5 {
    position: absolute;
    width: 400px;
    height: 28px;
    left: 1294px;
    top: 220px;
    font-family: Work Sans;
    font-style: medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
  }
  