body{
  margin: 60;
  background: #ffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.container {
  margin: 0 auto;

}

header{
  background: #55d6aa;
}

.logo {
  float: left;
  position: absolute;
  width: 436px;
  height: 106px;
  left: 60px;
  top: 22px;

}

nav {
  float: right;
}