@font-face {
  font-family: "league_spartanbold";
  src: url("../fonts/leaguespartan-bold-webfont.woff") format("woff");
} 

@font-face {
  font-family: "work_sansmedium";
  src: url("../fonts/worksans-medium-webfont.woff") format("woff");
}
  
@font-face {
  font-family: "work_sansregular";
  src: url("../fonts/worksans-regular-webfont.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  padding-bottom: 3em;
}

header{
  background: #ffffff;
  text-align: center;
  /*position: fixed;*/
  z-index: 999;
  width: 100%;
}


.nav-toggle {
  display: none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #282828;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after{
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  top: 100;
  left: 0;
  background: transparent;
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;  
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a{
  color: #5F5F5F;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: lowercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #282828;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px){
  .nav-toggle-label{
    display: none;
  }
  
  header{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .logo {
    position: absolute;
    left: -30px;
    top: -40px;
    z-index: 999;
    width: 305.2px;
    height: 74,2px;
    margin: 60px; 
  }

  nav {
    all: unset;
    position: absolute;
    top: 52px;
    right: 150px;
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul{
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a{
    opacity: 1;
    position: relative;
    font-family: League Spartan;
    padding-left: 40px;
    padding-right: 40px;
  }

  nav a::before {
    content: "";
    display: block;
    height: .15em;
    background: #282828;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -.5em;
    margin-left: 30px;
    margin-right: 30px;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
    margin-left: 30px;
    margin-right: 30px;
  }
}

.side_box {
  background: rgba(234, 234, 234, 0.7);
  position: absolute;
  width: 561px;
  height: 1080px;
  left: 0px;
  top: 0px;
}

.slogan {
  position: absolute;
  width: 700px;
  height: 240px;
  left: 24px;
  top: 367px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  color: #282828;
  z-index: 999;
}

.line {
  /* Line 1 */
  position: absolute;
  width: 660px;
  height: 0px;
  left: 30px;
  top: 453px;
  border: 6px solid #99C5C4;
}

.line2 {
  /* Line 2 */
  position: absolute;
  width: 720px;
  height: 0px;
  left: 30px;
  top: 573px;
  border: 6px solid #99C5C4;
}

.subline {
  position: absolute;
  width: 695px;
  height: 189px;
  left: 30px;
  top: 621px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #282828;
}

.showcase {
  position: absolute;
  width: 535.2px;
  height: 744.8px;   
  left: 1075px;
  top: 170px;
}

.ping_2 {
  position: absolute;
  width: 1257px;
  height: 1080px;
  left: 626px;
  top: 1082px;
}

.headline {
  position: absolute;
  width: 328px;
  height: 45px;
  left: 106px;
  top: 1133px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #5F5F5F;
}

.line3 {
  position: absolute;
  width: 43px;
  height: 0px;
  left: 33px;
  top: 1152.5px;
  border: 3px solid #5F5F5F;
}

.ping {
  position: absolute;
  width: 162px;
  height: 82px;
  left: 30px;
  top: 1251px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 87px;
  color: #282828;
}

.recent_work_description {
  position: absolute;
  width: 531px;
  height: 237px;
  left: 30px;
  top: 1371px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #282828;
  text-align: justify;
}

.headline2 {
  position: absolute;
  width: 328px;
  height: 45px;
  left: 106px;
  top: 2213px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #5F5F5F;
}

.line4 {
  position: absolute;
  width: 43px;
  height: 0px;
  left: 33px;
  top: 2235.5px;
  border: 3px solid #5F5F5F;
}

.work {
  position: absolute;
  width: 1012px;
  height: 82px;
  left: 30px;
  top: 2331px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 87px;
  color: #282828;
}

.box2 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 57px;
  top: 2451px;
  border-radius: 25px;
}

.box3 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 661px;
  top: 2451px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.box4 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 1265px;
  top: 2451px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.box5 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 57px;
  top: 2745px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.box6 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 661px;
  top: 2745px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.box7 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 1265px;
  top: 2745px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.box8 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 57px;
  top: 3039px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.box9 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 661px;
  top: 3039px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.box10 {
  position: absolute;
  width: 574px;
  height: 264px;
  left: 1265px;
  top: 3039px;
  background: rgba(234, 234, 234, 0.7);
  border-radius: 25px;
}

.line5 {
  position: absolute;
  width: 43px;
  height: 0px;
  left: 33px;
  top: 3367.5px;
  border: 3px solid #5F5F5F;
}

.headline3 {
  position: absolute;
  width: 328px;
  height: 45px;
  left: 106px;
  top: 3345px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #5F5F5F;
}

.profile {
  position: absolute;
  width: 507px;
  height: 206px;
  left: 30px;
  top: 3463px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 87px;
  color: #282828;
}

.profile_description {
  position: absolute;
  width: 531px;
  height: 205px;
  left: 30px;
  top: 3665px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #282828;
  text-align: justify;
}

.findout_button {
  position: absolute;
  width: 531px;
  height: 72px;
  left: 30px;
  top: 3980px;
  background: #282828;
  border-radius: 25px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
  z-index: 999;
}

.me_shape {
  position: absolute;
  width: 1006.71px;
  height: 981.06px;
  left: 890px;
  top: 3380px;
}

.headline4 {
  position: absolute;
  width: 328px;
  height: 45px;
  left: 106px;
  top: 4400px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #5F5F5F;
}

.line6 {
  position: absolute;
  width: 43px;
  height: 0px;
  left: 33px;
  top: 4420.5px;
  border: 3px solid #5F5F5F;
}

.contact {
  position: absolute;
  width: 1012px;
  height: 82px;
  left: 30px;
  top: 4516px;
  font-family: League Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  color: #282828;
}

.contact_description {
  position: absolute;
  width: 531px;
  height: 205px;
  left: 30px;
  top: 4718px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #282828;
  text-align: justify;
}

.contact_form1 {
  position: absolute;
  width: 420px;
  height: 86px;
  left: 810px;
  top: 4516px;
  background: #F2F2F2;
  border-radius: 25px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  border: #F2F2F2;
  padding-left: 40px;
  padding-top: 29px;
  padding-bottom: 29px; 
} 

.contact_form2 {
  position: absolute;
  width: 920px;
  height: 86px;
  left: 810px;
  top: 4602px;
  margin-top: 30px;
  background: #F2F2F2;
  border: #F2F2F2;
  border-radius: 25px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  padding-left: 40px;
  padding-top: 29px;
  padding-bottom: 29px;  
}

.contact_form3 {
  position: absolute;
  width: 920px;
  height: 434px;
  left: 810px;
  top: 4748px;
  background: #F2F2F2;
  border: #F2F2F2;
  border-radius: 25px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  padding: 40px;
}

.linkedIn {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 1779px;
  top: 4748px;
}

.dribble {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 1779px;
  top: 4865px;
}

.download {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 1779px;
  top: 4982px;
}

.send_button {
  position: absolute;
  width: 182px;
  height: 53px;
  left: 1548px;
  top: 5212px;
  background: #99C5C4;
  border: #99C5C4;
  border-radius: 20px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
}