appdirs
asgiref
bcrypt
blinker
certifi
cffi
chardet
click
distlib
Django
docopt
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Mail
Flask-SQLAlchemy
flask_sqlalchemy
Flask-Uploads
Flask-WTF
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
MarkupSafe
Pillow
pipreqs
pycparser
pytz
requests
six
SQLAlchemy
SQLAlchemy-ImageAttach
sqlparse
urllib3
virtualenv
Wand
Werkzeug
WTForms
yarg
zipp
email_validator
gunicorn