<!DOCTYPE html>
<html>
<head>
  <title>Gregor Boltz portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- <meta charset="UTF-8"> -->
</head>
  <body>

    <header>
        <!--{% block content %}-->
        <img src="/static/images/logo_only.png" alt="logo" class="logo" id="logo">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">work</a></li>
            <li><a href="#">profile</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>  
      <!--{% endblock %}-->
    </header>
  <div class="side_box">
  </div>
  <div class="slogan">
    Think Simple
    Design Simple
  </div>  
  <div class="line" id="line">
  </div>
  <div class="line2" id="line2">
  </div>
  <div class="subline">
    I believe in creating simple solutions to meaningful problems.
  </div>
  <img src="/static/images/Ping_1.jpg" alt="Ping showcase" class="showcase">
  <div class="headline">
    most recent work
  </div>
  <div class="line3"></div>
  <div class="ping">Ping</div>
  <div class="recent_work_description">
    In my first semester as an Interaction Design student, my team and I created the app “Ping”. Ping is a social network of explorers and people who want to get out of their comfort zone and meet new people. To demonstrate our idea I created mock–ups, landing page, clickable prototype, and a unique logo.  
  </div>
  <img src="/static/images/Ping_2.jpg" alt="Screens of App Ping" class="ping_2">
  <div class="headline2">
    work
  </div>
  <div class="line4"></div>
  <div class="work">All my design work</div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  <div class="box5"></div>
  <div class="box6"></div>
  <div class="box7"></div>
  <div class="box8"></div>
  <div class="box9"></div>
  <div class="box10"></div>
  <div class="headline3">profile</div>
  <div class="line5"></div>
  <div class="profile">
    Hi, 
    <br>
    I am Greg
  </div>
  <div class="profile_description">
    I am a 21 year old Interaction Design student from Berlin. Are you as passionate about design, as me. If so I would love to work with you. Check out my profile page to find out more about me. 
  </div>
  <div class="box11"></div>
  <div class="button_title">Find out more about me</div>
  </body>
</html>
