<!DOCTYPE html>
<html>
<head>
  <title>Gregor Boltz portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- <meta charset="UTF-8"> -->
</head>
  <body>

    <header>
        <!--{% block content %}-->
        <img src="/static/images/logo.jpg" alt="logo" class="logo" id="logo">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">work</a></li>
            <li><a href="#">profile</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>  
      <!--{% endblock %}-->
    </header>
  <div class="box" id="box">
  </div>
  <div class="slogan" >
    Think Simple
    Design Simple
  </div>  
  <div class="line" id="line">
  </div>
  <div class="line2" id="line2">
  </div>
  <img src="/static/images/Ping_1.jpg" alt="Ping showcase" class="showcase">
  </body>
</html>