<!DOCTYPE html>
<html>
<head>
  <title>Gregor Boltz portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- <meta charset="UTF-8"> -->
</head>
<body>
  <a name="top"></a>
    <header>
        <!--{% block content %}-->
        <img src="/static/images/logo_only.png" alt="logo" class="logo" id="logo">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="work">work</a></li>
            <li><a href="profile">profile</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>  
      <!--{% endblock %}-->
    </header>
  <div class="side_box">
  </div>
  <div class="slogan">
    Think Simple
    Design Simple
  </div>  
  <div class="line" id="line">
  </div>
  <div class="line2" id="line2">
  </div>
  <div class="subline">
    I believe in creating simple solutions to meaningful problems.
  </div>
  <img src="/static/images/Ping_1.jpg" alt="Ping showcase" class="showcase">
  <div class="headline">
    most recent work
  </div>
  <div class="line3"></div>
  <div class="ping">Ping</div>
  <div class="recent_work_description">
    In my first semester as an Interaction Design student, my team and I created the app “Ping”. Ping is a social network of explorers and people who want to get out of their comfort zone and meet new people. To demonstrate our idea I created mock–ups, landing page, clickable prototype, and a unique logo.  
  </div>
  <img src="/static/images/Ping_2.jpg" alt="Screens of App Ping" class="ping_2">
  <div class="headline2">
    work
  </div>
  <div class="line4"></div>
  <div class="work">All my design work</div>
  <img src="/static/images/Logo_showcase.png" class="box2">
  <div class="box3"></div>
  <div class="box4"></div>
  <div class="box5"></div>
  <div class="box6"></div>
  <div class="box7"></div>
  <div class="box8"></div>
  <div class="box9"></div>
  <div class="box10"></div>
  <div class="headline3">profile</div>
  <div class="line5"></div>
  <div class="profile">
    Hi, 
    <br>
    I am Greg
  </div>
  <div class="profile_description">
    I am a 21 year old Interaction Design student from Berlin. Are you as passionate about design, as me. If so I would love to work with you. Check out my profile page to find out more about me. 
  </div>
  <button type="button" class="findout_button" >Find out more about me</button>
  <img src="/static/images/me_shape.jpg" alt="Picture of Gregor Boltz" class="me_shape">
  <div class="headline4">contact</div>
  <div class="line6"></div>
  <div class="contact">
    Get in touch 
    <br>
    with me!
  </div>
  <div class="contact_description">I am always ready to work on new projects. If you want to work with me, send me a message and willl talk about it.</div>
  <div>
    <form>
      <textarea class="contact_form1" id="contact_form1" maxlength="320" type="email" name="contact_form1" placeholder="Your email">
      </textarea>
    </form>
  </div>
  <div>
    <form>
      <textarea class="contact_form2" cols="50" rows="1" maxlength="120"  id="contact_form2" type="text" name="contact_form2" placeholder="Subject">
      </textarea>
    </form>
  </div>
  <div>
    <form>
      <textarea cols="80" rows="3" maxlength="1200" class="contact_form3" id="contact_form3" type="text" name="contact_form3" placeholder="Add your message here...">
      </textarea>
    </form>
  </div>
  <a href="https://www.linkedin.com/in/gregor-boltz/">
    <img src="/static/images/linkedin_icon.svg" class="linkedIn">
  </a> 
  <a href="https://dribbble.com/gregor_boltz">
    <img src="/static/images/dribble_icon.svg" class="dribble">
  </a> 
  <a href="https://drive.google.com/drive/folders/1Ohgseq8o5t4ngzQ5RT8r3B0WbCoxYNv9?usp=sharing">
    <img src="/static/images/download_icon.svg" class="download">
  </a>
  <button type="button" class="send_button" onclick="alert('Hello Foundations :)')">Send</button>
</body>
<footer>
  <div>
    <img src="/static/images/GB_logo.svg" alt="Gregor Boltz Logo" class="gb_logo">
  </div>
  <div class="imprint">
    www.boltz.design
    <br>
    boltz.gregor@gmail.com
    <br>
    017657893002
  </div>
  <div class="name_footer">Gregor Boltz</div>
  <div class="line7"></div>
  <a href="https://www.linkedin.com/in/gregor-boltz/">
    <div class="linkedIn_footer">LinkedIn</div>
  </a>
  <div class="line8"></div>
  <a href="https://dribbble.com/gregor_boltz">
    <div class="dribble_footer">Dribble</div>
  </a>
  <div class="line9"></div>
  <a href="#top" class="back_to_top">Back to the top</a>
</footer>
</html>
