<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- <meta charset="UTF-8"> -->
</head>
<body>
  <a name="top"></a>
    <header>
        <!--{% block content %}-->
        <a href="/">
        <img src="/static/images/logo_only.png" alt="logo" class="logo" id="logo">
        </a>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="work">work</a></li>
            <li><a href="profile">profile</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>  
      <!--{% endblock %}-->
    </header>