<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- <meta charset="UTF-8"> -->
</head>
<body>
  <a name="top"></a>
    <header>
        <!--{% block content %}-->
        <a href="/">
          <img src="/static/images/logo_only.png" alt="logo" class="logo" id="logo">
      </a>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="work">work</a></li>
            <li><a href="profile">profile</a></li>
            <li><a href="contact">contact</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>  
      <!--{% endblock %}-->
    </header>
  <div name="headline">
    <div>
      <div class="headline">All of my design work</div>
    </div>
    <div>
      <div class="headline_line"></div>
    </div>
    <div>
      <div class="subline_work">Check out all of my creations. It varies from university project, to personal projects or company projects. More sample text will follow here and will be added later.</div>
    </div>
  </div>
  <div name="designs">
    <div>
      <a href="ping_work">
        <img src="/static/images/Ping_2.jpg" class="work_box1">
      </a>
    </div>
    <div>
      <div class="work_box2"></div>
    </div>
    <div>
      <div class="work_box3"></div>
    </div>
    <div>
      <div class="work_box4"></div>
    </div>
    <div>
      <div class="work_box5"></div>
    </div>
    <div>
      <div class="work_box6"></div>
    </div>
    <div>
      <div class="work_box7"></div>
    </div>
    <div>
      <div class="work_box8"></div>
    </div>
    <div>
      <div class="work_box9"></div>
    </div>
    <div>
      <div class="work_box10"></div>
    </div>
    <div>
      <div class="work_box11"></div>
    </div>
    <div>
      <div class="work_box12"></div>
    </div>
  </div>
</body>
<footer class="footer_work">
  <div>
      <div>
          <img src="/static/images/GB_logo.svg" alt="Gregor Boltz Logo" class="gb_logo_4">
      </div>
      <div class="imprint_4">
          www.boltz.design
          <br>
          boltz.gregor@gmail.com
          <br>
          017657893002
      </div>
  </div>
  <div name="footer_middle_row">
      <div>
          <div class="name_footer_4">Gregor Boltz</div>
      </div>
      <div class="name_footer_4">Gregor Boltz</div>
      <div>
          <div class="line7_4"></div>
      </div>
      <div>
          <a href="https://www.linkedin.com/in/gregor-boltz/">
              <div class="linkedIn_footer_4">LinkedIn</div>
          </a>
      </div>
      <div>
          <a href="https://www.linkedin.com/in/gregor-boltz/">
              <div class="linkedIn_footer_4">LinkedIn</div>
          </a>
      </div>
      <div>
          <div class="line8_4"></div>
      </div>
      <div>
          <a href="https://dribbble.com/gregor_boltz">
              <div class="dribble_footer_4">Dribble</div>
          </a>
      </div>
      <div>
          <div class="line9_4"></div>
      </div>
      <div>
          <a href="#top" class="back_to_top_4">Back to the top</a>
      </div>
  </div>
</footer>
</html>