{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}
{% block content %}
    <div name="headline">
        <div>
            <div class="title_profile">Hi, <br> I am <br> Greg.</div>
        </div>
        <div>
            <div class="line_profile1"></div>
        </div>
        <div>
            <div class="line_profile2"></div>
        </div>
        <div>
            <div class="line_profile3"></div>
        </div>
    </div>
    <div name="images">
        <div>
            <img src="../../static/images/me1_2.jpg" alt="Image of Gregor Boltz" class="image_me1">
        </div>
        <div>
            <img src="../../static/images/me2_2.jpg" alt="Image of Gregor Boltz" class="image_me2">
        </div>
        <div>
            <img src="../../static/images/me3_2.jpg" alt="Image of Gregor Boltz" class="image_me3">
        </div>
    </div>
    <div name="description">
        <div>
            <div class="headline_profile_1">More about me</div>
        </div>
        <div>
            <div class="about_me">I am passionate about designing simple and beautiful solutions to meaningful problems. I want to use my passion for design to do something good in the world. For me, it all started back in 2011, where I saw a photoshopped image online. I couldn’t wrap my head around how this image was created and since then I was hooked. From this moment on I never stopped creating and visualizing new things. I taught myself how to edit pictures, create interfaces and everything else I was curious about. This got me to where I am today, studying interaction design at CODE university.</div> 
        </div>
        <div>
            <div class="headline_profile_2">Where</div>
        </div>
        <div>
            <div class="where">Berlin, Germany</div>
        </div>
        <div>
            <div class="headline_profile_3">Skills</div>
        </div>
        <div>
            <div class="skills_box1">Screen Design</div>
        </div>
        <div>
            <div class="skills_box2">Editorial Design</div>
        </div>
        <div>
            <div class="skills_box3">Figma</div>
        </div>
        <div>
            <div class="skills_box4">Adobe Suite</div>
        </div>
        <div>
            <div class="skills_box5">Html & CSS</div>
        </div>
        <div>
            <div class="headline_profile_4">Brand experience</div>
        </div>
        <div>
            <div class="brand_box1">Uber</div>
        </div>
        <div>
            <div class="brand_box2">Zalando</div>
        </div>
        <div>
            <div class="brand_box3">Lemoncat</div>
        </div>
        <div>
            <div class="headline_profile_5">Find me on</div>
        </div>
        <div>
            <a href="https://dribbble.com/gregor_boltz">
                <img src="../../static/images/dribble_icon.svg" alt="Find me on Dribble" class="profile_dribble">
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/gregor-boltz/">
                <img src="../../static/images/linkedin_icon.svg" alt="Find me on LinekdIn" class="profile_linkedin">
            </a>
        </div>
    </div>
{% endblock %}